
/* -------------------------------------------------------------------------
 * COLORS NEUTRAL
 *
 * Neutral colors are the ones without saturation
 */

$s-color-white:               #fff !default;
$s-color-black:               #000 !default;


/* TRANSPARENT
 * Both black and white are available to use it in transitions.
 */

$s-color-transparent:         rgba(0, 0, 0, 0) !default;
$s-color-transparent-white:   rgba(255, 255, 255, 0) !default;


/* GREYSCALE
 * Mid tones are missing intentionally.
 */

$s-color-gray-05:             darken(#fff, 5%) !default;
$s-color-gray-10:             darken(#fff, 10%) !default;
$s-color-gray-20:             darken(#fff, 20%) !default;
$s-color-gray-30:             darken(#fff, 30%) !default;
$s-color-gray-70:             darken(#fff, 70%) !default;
$s-color-gray-80:             darken(#fff, 80%) !default;
$s-color-gray-90:             darken(#fff, 90%) !default;


/* AS AN OBJECT
 * Used in utilities
 */

$s-colors-neutral: (
  "white":                    $s-color-white,
  "black":                    $s-color-black,
  "transparent":              $s-color-transparent,
  "transparent-white":        $s-color-transparent-white,
  "gray-05":                  $s-color-gray-05,
  "gray-10":                  $s-color-gray-10,
  "gray-20":                  $s-color-gray-20,
  "gray-30":                  $s-color-gray-30,
  "gray-70":                  $s-color-gray-70,
  "gray-80":                  $s-color-gray-80,
  "gray-90":                  $s-color-gray-90,
) !default;
