
/* -------------------------------------------------------------------------
 * COLORS OTHER
 *
 * Define all other colors
 */

$s-color-digital-blue:        $s-color-brand-blue !default;


/* TOKENIZED NAMES
 *
 */

$s-color-body:                $s-color-brand-black !default;
$s-color-links:               $s-color-digital-blue !default;
