
/* -------------------------------------------------------------------------
 * COLORS BRAND
 *
 * Define brand colors and its priorities
 */


$s-color-brand-red:         #f25f5c !default;
$s-color-brand-turquoise:   #69b7a4 !default;
$s-color-brand-blue:        #247ba0 !default;
$s-color-brand-yellow:      #ffe066 !default;

$s-color-brand-black:       #50514f !default;
$s-color-brand-white:       #f4f4cb !default;


/* BRAND PRIORITIES
 * Used in some material and components
 */

$s-color-brand-first:       $s-color-brand-red !default;
$s-color-brand-second:      $s-color-brand-turquoise !default;
$s-color-brand-third:       $s-color-brand-blue !default;
$s-color-brand-fourth:      $s-color-brand-yellow !default;


/* AS AN OBJECT
 * Used in utilities
 */

$s-colors-brand: (
  "first":                  $s-color-brand-first,
  "second":                 $s-color-brand-second,
  "third":                  $s-color-brand-third,
  "fourth":                 $s-color-brand-fourth,
  "black":                  $s-color-brand-black,
  "white":                  $s-color-brand-white,
) !default;
