
/* -------------------------------------------------------------------------
 * FONTS
 *
 * Font families & fallback
 *
 */

$s-font-fallback:             Arial, Geneva, sans-serif !default;


// Requires extra stylesheet with fonts import

$s-font-body:                 'Open Sans', #{$s-font-fallback} !default;
$s-font-headings:             'Bungee', #{$s-font-fallback} !default;
