
/* -------------------------------------------------------------------------
 * MEDIA
 *
 * Place any image- and text-like content side-by-side, as per:
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 *
 */

$o-media-enabled:                       true !default;

$o-media-spaces:                        map_remove($s-spaces, large, huge) !default;
$o-media-default-space:                 medium !default;
$o-media-include-modifiers-space:       true !default;
$o-media-include-modifiers-reverse:     true !default;


@if ($o-media-enabled) {

  .o-media {
    @include t-clearfix;
    display: block;
  }

  .o-media__img {
    float: left;
    margin-right: map-get($o-media-spaces, $o-media-default-space);

    > img {
      display: block;
    }

  }

  .o-media__body {
    overflow: hidden;
    display: block;

    &,
    > :last-child {
      margin-bottom: 0;
    }

  }

}



// Space modifiers
// --------------------------------------------------

@mixin o-media--space($space-name: none, $space-value: 0) {
  .o-media--space-#{$space-name} {
    > .o-media__img {
      margin-right: $space-value;
    }
    @if ($o-media-include-modifiers-reverse) {
      &.o-media--reverse {
        > .o-media__img {
          margin-right: 0;
          margin-left:  $space-value;
        }
      }
    }
  }
}

@if ($o-media-enabled and $o-media-include-modifiers-space) {
  @each $space-name, $space-value in $o-media-spaces {
    @if ($space-name != $o-media-default-space) {
      @include o-media--space($space-name, $space-value);
    }
  }
}


// Reverse modifier
// --------------------------------------------------
@if ($o-media-enabled and $o-media-include-modifiers-reverse) {

  .o-media--reverse {
    > .o-media__img {
      float: right;
      margin-right: 0;
      margin-left: map-get($o-media-spaces, $o-media-default-space);
    }
  }

}
