
/* -------------------------------------------------------------------------
 * LIST BARE
 *
 * Strip list-like appearance from lists by removing their bullets, and any
 * indentation.
 *
 */

$o-list-bare-enabled:                   true !default;


@if ($o-list-bare-enabled) {

  .o-list-bare {
    list-style: none;
    margin-left: 0;
  }

}

