/* -------------------------------------------------------------------------
 * FLAG
 *
 * The flag object is a design pattern similar to the media object, however it
 * utilises `display: table[-cell];` to give us control over the vertical
 * alignments of the text and image.
 *
 * Params:
 * SPACE .............................. Horizontal separation between image and body
 * ALIGNMENT .......................... Vertical image and body alignment
 *
 */

// Object variables
// --------------------------------------------------

// Object toggling

$o-flag--enabled:                     true !default;

// Object Params

$o-flag__space:                       $g-reset__spacing--horizontal !default;
$o-flag__alignment:                   middle !default;

// Modifiers Spaces

$o-flag__mod-spaces--enabled:         true !default;
$o-flag__mod-spaces:                  map_remove($s-spaces, large, huge) !default;

// Modifiers Alignments

$o-flag__mod-alignments--enabled:     true !default;
$o-flag__mod-alignments:              (top, middle, bottom) !default;

// Modifier Reverse

$o-flag__mod-reverse--enabled:        true !default;


// Object as a mixin
// --------------------------------------------------

@mixin o-flag() {
  display: table;
  width: 100%;
}

@mixin o-flag__img($_vertical-alignment: $o-flag__alignment, $_space-value: $o-flag__space) {
  display: table-cell;
  vertical-align: $_vertical-alignment;
  padding-right: s-core-px-to-rem($_space-value);
  width: 1px;

  > img {
    max-width: none;
  }
}

@mixin o-flag__body($_vertical-alignment: $o-flag__alignment) {
  display: table-cell;
  vertical-align: $_vertical-alignment;
  width: auto;

  &,
  > :last-child {
    margin-bottom: 0;
  }
}

// Object selector output
// --------------------------------------------------

@if ($o-flag-enabled) {
  .o-flag {
    @include o-flag();
  }

  .o-flag__img {
    @include o-flag__img();
  }

  .o-flag__body {
    @include o-flag__body();
  }
}

// Space modifiers
// --------------------------------------------------

@mixin o-flag__mod-space($_space-name: "none", $_space-value: 0) {
  .o-flag--space-#{$_space-name} > .o-flag__img {
    padding-right: s-core-px-to-rem($_space-value);
  }

  @if ($o-flag__mod-reverse--enabled) {
    &.o-flag--reverse > .o-flag__img {
      padding-left: s-core-px-to-rem($_space-value);
    }
  }
}

@if ($o-flag--enabled and $o-flag__mod-spaces--enabled) {
  @each $_space-name, $_space-value in $o-flag__mod-spaces {
    @include o-flag__mod-space($_space-name, $_space-value);
  }
}

// Alignment modifiers
// --------------------------------------------------

@mixin o-flag__mod-alignment($_vertical-alignment: middle) {
  .o-flag--#{$_vertical-alignment} {
    > .o-flag__img,
    > .o-flag__body {
      vertical-align: $_vertical-alignment;
    }
  }
}

@if ($o-flag--enabled and $o-flag__mod-alignments--enabled) {
  @each $_vertical-alignment in $o-flag__mod-alignments {
    @include o-flag__mod-alignment($_vertical-alignment);
  }
}

// Reverse modifier
// --------------------------------------------------

@mixin o-flag--reverse() {
  direction: rtl;
}

@mixin o-flag__body--reverse() {
  direction: ltr;
}

@mixin o-flag__img--reverse($_space-value: $o-flag__space) {
  direction: ltr;
  padding-right: 0;
  padding-left: s-core-px-to-rem($_space-value);
}

@mixin o-flag__mod-reverse() {
  .o-flag--reverse {
    @include o-flag--reverse();

    > .o-flag__body {
      @include o-flag__body--reverse;
    }

    > .o-flag__img {
      @include o-flag__img--reverse;
    }
  }
}

@if ($o-flag--enabled and $o-flag__mod-reverse--enabled) {
  @include o-flag__mod-reverse();
}
