
/* -------------------------------------------------------------------------
 * HEADINGS
 *
 * Define some minimal heading styles
 *
 */


$headings-line-height:      1 !default;

$headings-font-size-h1:     36px !default;
$headings-font-size-h2:     28px !default;
$headings-font-size-h3:     24px !default;
$headings-font-size-h4:     20px !default;
$headings-font-size-h5:     18px !default;
$headings-font-size-h6:     16px !default;


h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $headings-line-height;
  font-family: $s-font-headings;
  margin-bottom: $s-space;
}


h1 {
  font-size: s-core-px-to-rem($headings-font-size-h1);
}

h2 {
  font-size: s-core-px-to-rem($headings-font-size-h2);
}

h3 {
  font-size: s-core-px-to-rem($headings-font-size-h3);
}

h4 {
  font-size: s-core-px-to-rem($headings-font-size-h4);
}

h5 {
  font-size: s-core-px-to-rem($headings-font-size-h5);
}

h6 {
  font-size: s-core-px-to-rem($headings-font-size-h6);
}
