/* -------------------------------------------------------------------------
 * BULLET
 *
 * The bullet pattern is used to align an icon with some text,
 * similar to how a bullet point has the icon and the text
 *
 */

// Object variables
// --------------------------------------------------

// Object toggling

$o-bullet--enabled:                   true !default;

$o-bullet__icon-size:                 1em !default;
$o-bullet__icon--padding-left:       .3em !default;

$o-bullet__text--line-height:         $f-line-height--small !default;

// Modifier Block

$o-bullet__mod-block--enabled:        true !default;

// Modifier Middle

$o-bullet__mod-middle--enabled:        true !default;

// Modifier Reverse

$o-bullet__mod-reverse--enabled:      true !default;

// Icons Size Modifiers

$o-bullet__mod-iconsize--enabled:     true !default;
$o-bullet__mod-iconsizes: (
  "s":      .5em,
  "m":      1em,
  "l":      1.5em,
  "xl":     2em,
  "xxl":    2.5em,
  "xxxl":   3em,
) !default;


// Object as a mixin
// --------------------------------------------------

@mixin o-bullet() {
  display: inline-block;
}

@mixin o-bullet__icon($_icon-size: $o-bullet__icon-size) {
  width: $_icon-size;
  height: $_icon-size;
  line-height: $_icon-size;
  display: inline-block;
  vertical-align: middle;
}

@mixin o-bullet__text() {
  display: inline-block;
  vertical-align: middle;
  line-height: $o-bullet__text--line-height;
  padding-left: $o-bullet__icon--padding-left;
}

// Object selector output
// --------------------------------------------------

@if ($o-bullet--enabled) {
  .o-bullet {
    @include o-bullet();
  }

  .o-bullet__icon {
    @include o-bullet__icon();
  }

  .o-bullet__text {
    @include o-bullet__text();
  }
}

// Block modifier
// --------------------------------------------------

@mixin o-bullet--block() {
  display: table;
  width: 100%;
}

@mixin o-bullet__icon--block($_icon-size: $o-bullet__icon-size) {
  display: table-cell;
  vertical-align: top;
  width: $o-bullet__icon-size;
  max-width: $o-bullet__icon-size;
}

@mixin o-bullet__text--block() {
  display: table-cell;
  vertical-align: top;
  width: auto;
  padding-left: $o-bullet__icon--padding-left * 2;
}

@mixin o-bullet__mod-block() {
  .o-bullet--block {
    position: relative;
    @include o-bullet--block();

    > .o-bullet__icon {
      @include o-bullet__icon--block();
    }

    > .o-bullet__text {
      @include o-bullet__text--block();
    }
  }
}

@if ($o-bullet--enabled and $o-bullet__mod-block--enabled) {
  @include o-bullet__mod-block();
}

// Middle modifier
// --------------------------------------------------

@mixin o-bullet--middle() {
  @include o-bullet--block();
}

@mixin o-bullet__icon--middle($_icon-size: $o-bullet__icon-size) {
  @include o-bullet__icon--block($_icon-size);

  vertical-align: middle;
}

@mixin o-bullet__text--middle() {
  @include o-bullet__text--block();

  vertical-align: middle;
}

@mixin o-bullet__mod-middle() {
  .o-bullet--middle {
    @include o-bullet--middle();

    > .o-bullet__icon {
      @include o-bullet__icon--middle();
    }

    > .o-bullet__text {
      @include o-bullet__text--middle();
    }
  }
}

@if ($o-bullet--enabled and $o-bullet__mod-middle--enabled) {
  @include o-bullet__mod-middle();
}

// Reverse modifiers
// --------------------------------------------------

@mixin o-bullet__mod-reverse() {
  .o-bullet--reverse {
    direction: rtl;
  }
}

@if ($o-bullet--enabled and $o-bullet__mod-reverse--enabled) {
  @include o-bullet__mod-reverse();
}

// Icon Size modifiers
// --------------------------------------------------

@mixin o-bullet--iconsize($_iconsize-name: "m", $_iconsize-value: 1em) {
  .o-bullet--iconsize-#{$_iconsize-name} {
    > .o-bullet__icon {
      width: $_iconsize-value;
      height: $_iconsize-value;
      max-width: $_iconsize-value;
    }
  }
}

@if ($o-bullet--enabled and $o-bullet__mod-iconsize--enabled) {
  @each $_iconsize-name, $_iconsize-value in $o-bullet__mod-iconsizes {
    @include o-bullet--iconsize($_iconsize-name, $_iconsize-value);
  }
}


// Unset as mixin
// --------------------------------------------------

@mixin o-bullet--unset() {
  display: inherit;
}

@mixin o-bullet__icon--unset() {
  display: inherit;
}
