/* -------------------------------------------------------------------------
 * FLAG
 *
 * A media object based on tables
 *
 * The flag object is a design pattern similar to the media object, however it
 * utilises `display: table[-cell];` to give us control over the vertical
 * alignments of the text and image.
 *
 * Params:
 * ALIGNMENT .......................... Vertical image and body alignment
 *
 */

// Object variables
// --------------------------------------------------

// Object toggling

$o-flag--enabled:                     true !default;

// Object Params

$o-flag__alignment:                   middle !default;

// Modifiers Alignments

$o-flag__mod-alignments--enabled:     true !default;
$o-flag__mod-alignments:              (top, middle, bottom) !default;

// Modifier Reverse

$o-flag__mod-reverse--enabled:        true !default;


// Object as a mixin
// --------------------------------------------------

@mixin o-flag() {
  display: table;
  width: 100%;
}

@mixin o-flag__img($_vertical-alignment: $o-flag__alignment) {
  display: table-cell;
  vertical-align: $_vertical-alignment;
  width: 1px;

  > img {
    width: auto;
  }
}

@mixin o-flag__body($_vertical-alignment: $o-flag__alignment) {
  display: table-cell;
  vertical-align: $_vertical-alignment;
  width: auto;
}

// Object selector output
// --------------------------------------------------

@if ($o-flag--enabled) {
  .o-flag {
    @include o-flag();
  }

  .o-flag__img {
    @include o-flag__img();
  }

  .o-flag__body {
    @include o-flag__body();
  }
}

// Alignment modifiers
// --------------------------------------------------

@mixin o-flag__mod-alignment($_vertical-alignment: middle) {
  .o-flag--#{$_vertical-alignment} {
    > .o-flag__img,
    > .o-flag__body {
      vertical-align: $_vertical-alignment;
    }
  }
}

@if ($o-flag--enabled and $o-flag__mod-alignments--enabled) {
  @each $_vertical-alignment in $o-flag__mod-alignments {
    @include o-flag__mod-alignment($_vertical-alignment);
  }
}

// Reverse modifier
// --------------------------------------------------

@mixin o-flag--reverse() {
  direction: rtl;
}

@mixin o-flag__body--reverse() {
  direction: ltr;
}

@mixin o-flag__img--reverse() {
  direction: ltr;
}

@mixin o-flag__mod-reverse() {
  .o-flag--reverse {
    @include o-flag--reverse();

    > .o-flag__body {
      @include o-flag__body--reverse;
    }

    > .o-flag__img {
      @include o-flag__img--reverse;
    }
  }
}

@if ($o-flag--enabled and $o-flag__mod-reverse--enabled) {
  @include o-flag__mod-reverse();
}


// Unset as mixin
// --------------------------------------------------

@mixin o-flag--unset() {
  display: inherit;
  width: inherit;
}

@mixin o-flag__img--unset() {
  display: inherit;
  vertical-align: inherit;
  width: auto;

  > img {
    max-width: inherit;
  }
}

@mixin o-flag__body--unset() {
  display: inherit;
  vertical-align: inherit;
  width: inherit;
}
