/* -------------------------------------------------------------------------
 * RATIO
 *
 * Ratio-bound content block
 *
 */


// Object variables
// --------------------------------------------------

// Object toggling

$o-ratio--enabled                 :       true !default;

// Modifiers Ratios

$o-ratio__mod-ratios--enabled     :       true !default;
$o-ratio__mod-ratios              :       $f-aspect-ratios !default;

$o-ratio__mod-bp--enabled         :       true !default;
$o-ratio__mod-bp                  :       map_remove($f-breakpoints, "xxs") !default;


// Object as a mixin
// -------------------------------------------

@mixin o-ratio($_ratio: 1) {
  position: relative;

  &::before {
    display: block;
    width: 100%;
    padding-top: $_ratio * 100%;
    content: '';
  }
}

@mixin o-ratio__content() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


// Object selector output
// -------------------------------------------

@if ($o-ratio--enabled) {
  .o-ratio {
    @include o-ratio();
  }

  .o-ratio__content {
    @include o-ratio__content();
  }
}


// Ratio modifiers mixin
// -------------------------------------------

@mixin o-ratio--override($ratio) {
  &::before {
    padding-top: $ratio * 100%;
  }
}
// Ratio modifiers output
// -------------------------------------------

@if ($o-ratio--enabled and $o-ratio__mod-ratios--enabled) {

  @each $_name, $_ratio in $o-ratio__mod-ratios {
    .o-ratio--#{$_name} {
      @include o-ratio--override($_ratio);
    }
  }
}


// Ratio modifiers output in breakpoints
// -------------------------------------------

@if ($o-ratio--enabled and $o-ratio__mod-ratios--enabled and $o-ratio__mod-bp--enabled) {

  @each $_bp-name, $_bp-value in $o-ratio__mod-bp {
    @each $_name, $_ratio in $o-ratio__mod-ratios {

      @include t-mq($from: $_bp-name) {
        .o-ratio--#{$_name}#{s-core-string-breakpoint($_bp-name)} {
          @include o-ratio--override($_ratio);
        }
      }
    }
  }
}


// Unset as mixin
// --------------------------------------------------

@mixin o-ratio--unset() {
  position: inherit;

  &::before {
    display: inherit;
    width: auto;
    padding-top: inherit;
    content: inherit;
  }
}

@mixin o-ratio__content--unset() {
  position: inherit;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  height: auto;
  width: auto;
}
