/* -------------------------------------------------------------------------
 * RADIUSES
 *
 * Foundation radiuses as border-radius
 *
 */


// Utility variables
// --------------------------------------------------

// Utility toggling

$u-radiuses--enabled:           true !default;

// Font-families maps

$u-radiuses__maps:              $f-radiuses !default;


// Utilities output
// --------------------------------------------------


@if ($u-radiuses--enabled) {
  @each $_radius__name, $_radius__value in $u-radiuses__maps {
    .u-radius--#{$_radius__name} {
      border-radius: $_radius__value !important;
    }
  }
}
