
/* -------------------------------------------------------------------------
 * FONT-SIZES
 *
 * Foundation font-sizes
 *
 */


// Utility variables
// --------------------------------------------------

// Utility toggling

$u-font-sizes--enabled:         true !default;

// Font-sizes maps

$u-font-sizes__maps:            $f-font-sizes !default;


// Utilities output
// --------------------------------------------------

@if ($u-font-sizes--enabled) {

  @each $_font-size__name, $_font-size__value in $u-font-sizes__maps {
    .u-font-size--#{$_font-size__name} {
      font-size: $_font-size__value !important;
    }
  }
}
