
/* -------------------------------------------------------------------------
 * ASPECT RATIO
 *
 * Mixin to ratio-bound content blocks
 *
 */


// Aspect Ratio Set
// --------------------------------------------------

@mixin t-aspect-ratio-set($width, $height) {
  position: relative;

  &::before {
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
    content: '';
  }

  > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}


// Aspect Ratio Override
// --------------------------------------------------

@mixin t-aspect-ratio-override($width, $height) {
  &::before {
    padding-top: ($height / $width) * 100%;
  }
}


// Aspect Ratio Unset
// --------------------------------------------------

@mixin t-aspect-ratio-unset() {
  position: initial;

  &::before {
    display: none;
  }

  > * {
    position: initial;
    top: initial;
    right: initial;
    bottom: initial;
    left: initial;
  }
}
