/* ==========================================================================
 * COLOR SCHEMES
 * Styling elements
 *
 * brand primary ............... color scheme based on Brand Primary colors
   ========================================================================== */

@import 'color-schemes__brand-primary';
@import 'color-schemes__default';
