
/* -------------------------------------------------------------------------
 * COLOR SCHEMES
 *
 * Color combination schemes that affects border, background, content,
 * links, headings and other colors.
 * Consider extend with your owns
 *
 * brand primary ............... Color scheme based on brand primary colors
 *
 */

@import 'color-schemes__brand-primary';
@import 'color-schemes__default';
