
/* ==========================================================================
 * TOOLS
 * SCSS mixins where project is built on
 *
 * aspect-ratio ........... Mixin to ratio-bound content blocks
 * clearfix ............... Micro clearfix
 * quantity-queries ....... Third party quantity queries
 * sass-mq ................ Third party media query manager
   ========================================================================== */

@import 'tools__aspect-ratio';
@import 'tools__clearfix';
@import 'vendor/quantity-queries.scss';

/* SASS-MQ
 * Some $mq- variables needs to be set before proceed
 */
$mq-base-font-size:       $s-core-font-size;
$mq-breakpoints:          $s-breakpoints;
$mq-show-breakpoints:     if($s-config-env == "dev" or $s-config-env == "cms", (map-keys($s-breakpoints)), ()) !default;

@import 'vendor/sass-mq';
